#bingowrap {
    background: url(/img/bg/bingo_bg.jpg) no-repeat center top;
    margin-top: -50px;
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 850px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.bg-scroll {
    background: url(/img/bg/clean-gray-paper.png);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 1px 18px 3px #171407;
}