@model NBKSite.Models.Home.BingoBook
@{
  Layout = "_Layout";
}
  <link href="/css/Home/bingobook.css" rel="stylesheet">

  <!-- ==== HEADERWRAP ==== -->
  <div id="home"></div>
  <div id="bingowrap">
    <header class="clearfix">
        <h1>@(Model.test)</h1>>
>    </header>
    <div class="row">
        <div class="col-lg-1 offset-lg-1"></div>
        <div class="col-lg-10 bg-scroll callout">
            <h2>Bingo Book</h2>
            <p>Access our infamous Bingo Book! Guild members can earn points by destroying wanted players/rival guild members within our Bingo Book. 
            The top bounty hunter of the month will earn in game rewards!</p>
        </div>
      <!-- col-lg-6 -->
    </div>
  </div>
  <!-- /headerwrap -->