@model NBKSite.Models.Home.Index
@{
  Layout = "_Layout";
}
  <link href="/css/Home/index.css" rel="stylesheet">

  <!-- ==== HEADERWRAP ==== -->
  <div id="home"></div>
  <div id="headerwrap" name="home">
    <header class="clearfix">
      <h1>
        <span class="icon icon-shield"></span>
      </h1>
      <p>Natural Born Killers</p>
      <p>A MapleStory 2 Guild</p>
      <a role="button" class="btn btn-apply btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSfUJKGNVh8FjSijaYCqllHz9G9pB6A_93WnWyOOtcZOmk6utQ/viewform">APPLY NOW</a>
    </header>
  </div>
  <!-- /headerwrap -->

  <!-- ==== GREYWRAP ==== -->
  <div id="greywrap">
    <div class="row">
      <div class="col-lg-4 callout">
        <a href="/Home/BingoBook/" class="btn" style="background: url(img/ms-ico/14000161.png); background-size: contain; height: 100px; width: 100px;"></a>
        <h2>Bingo Book</h2>
        <p>Access our infamous Bingo Book! Guild members can earn points by destroying wanted players/rival guild members within our Bingo Book. 
          The top bounty hunter of the month will earn in game rewards!</p>
      </div>
      <!-- col-lg-4 -->

      <div class="col-lg-4 callout">
        <div class="btn" style="background: url(img/ms-ico/31000100.png); background-size: contain; height: 100px; width: 100px;"></div>
        <h2>Wishlist</h2>
        <p>Guild members may post Gears/Items they need. 
          It would be our responsibility as a guild to make sure our members are as highly geared as possible. 
          Have an item on the wishlist? Prioritize trading with other members first! 
          Need to sell an Item? Our Members might know a guy!</p>
      </div>
      <!-- col-lg-4 -->

      <div class="col-lg-4 callout">
        <div class="btn" style="background: url(img/ms-ico/trophy.png); background-size: contain; height: 100px; width: 100px;"></div>
        <h2>Trophies</h2>
        <p>Easily grind for trophies and other dailies with friends.
          We may also introduce guild-only trophies in the future!
        </p>
      </div>
      <!-- col-lg-4 -->
    </div>
    <!-- row -->
  </div>
  <!-- greywrap -->

  <!-- ==== ABOUT ==== -->
  <div class="container" id="about" name="about">
    <div class="row white">
      <br>
      <h1 class="centered">What do the HITMEN of Natural Born Killers do?</h1>
      <hr>

      <div class="col-lg-6">
        <p>
            We stay geared to the Max.
            We Raid like no other.
            And of course.. We TOP the PVP Leaderboards!

            Add bullshit text here. Don't forget to replace this later. 
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
      </div>
      <!-- col-lg-6 -->

      <div class="col-lg-6">
        <p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes
          pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s
          earnings back to the community each year.</p>
      </div>
      <!-- col-lg-6 -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->

  <!-- ==== SECTION DIVIDER1 -->
  <section class="section-divider textdivider divider1">
    <div class="container">
      <h1>WARRIORS OF THE ARENA</h1>
      <hr>
      <p>To achieve real change, we have to expand boundaries. Because the Wild West of what-could-be is unexplored but rife with opportunity.</p>
    </div>
    <!-- container -->
  </section>
  <!-- section -->

  <!-- ==== SERVICES ==== -->
  <div class="container" id="services" name="services">
    <br>
    <br>
    <div class="row">
      <h2 class="centered">ONE BRAND, ONE VOICE.</h2>
      <hr>
      <br>
      <div class="col-lg-offset-2 col-lg-8">
        <p>Employees and consumers. Two halves of a brand’s entirety, the whole of a brand’s audience. Sometimes these two halves have very different viewpoints, creating a weak spot in the brand story. Weakness tarnishes credibility. Brands that aren’t
          credible aren’t viable.
        </p>
        <p>We squash weakness by designing the whole brand story. It’s crafted around the truism held by employees and consumers to create an experience that connects from the inside out.</p>
        <p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s
          when the brand can truly flex its muscles.</p>
      </div>
      <!-- col-lg -->
    </div>
    <!-- row -->

    <div class="row">
      <h2 class="centered">MOBILE FIRST THINKING, ALWAYS.</h2>
      <hr>
      <br>
      <div class="col-lg-offset-2 col-lg-8">
        <img class="img-responsive" src="img/iphone.png" alt="">
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->

  <!-- ==== SECTION DIVIDER2 -->
  <section class="section-divider textdivider divider2">
    <div class="container">
      <h1>DESIGN IS AN INTERACTION</h1>
      <hr>
      <p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
    </div>
    <!-- container -->
  </section>
  <!-- section -->

